.card {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100px;
  position: relative;
  background-color: white;
  border: 2px solid black;
  box-shadow: 3px 3px 5px black;
  border-radius: 50px;
  justify-content: center;
  align-items: center; 
}

.card img {
  height: 64px;
  width: 64px;
  margin: auto;
  object-fit: contain;
}

.card::after {
  content: attr(data-tooltip); /* Récupère le texte de l'attribut data-tooltip */
  position: absolute;
  bottom: 110%; /* Place l'info bulle au-dessus de la carte */
  left: 50%; /* Centre horizontalement l'info bulle */
  transform: translateX(-50%); /* Centre horizontalement l'info bulle */
  padding: 8px;
  background-color: #90EE90;
  color: black;
  font-size: 12px;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  border-radius: 10px;
  transition: visibility 0s, opacity 0.3s;
}

.card:hover::after {
  visibility: visible;
  opacity: 1;
}
