footer {
    background-color: #DBC09F;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    height: 200px;
    margin-top: 30px;
    box-sizing: border-box;
    border-radius: 25px 25px 0 0;

    .footer__gauche img {
        width: 150px;
    }

    .footer__droit ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }
}